<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DDO_Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DDO_Launcher.Properties.Settings>
            <setting name="accountText" serializeAs="String">
                <value>textAccount.Text</value>
            </setting>
            <setting name="passwordText" serializeAs="String">
                <value>textPassword.Text</value>
            </setting>
            <setting name="rememberMe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="installedTranslationPatchETag" serializeAs="String">
                <value />
            </setting>
            <setting name="translationPatchUrl" serializeAs="String">
                <value>https://raw.githubusercontent.com/Sapphiratelaemara/DDON-translation/refs/heads/main/gmd.csv</value>
            </setting>
            <setting name="firstInstalledTranslation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastServerSelected" serializeAs="String">
                <value>0</value>
            </setting>
        </DDO_Launcher.Properties.Settings>
    </userSettings>
</configuration>